<div style="border: 0; margin: 5px; z-index: 2" class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Machine Details: {{machine.name}}</h4>
    </div>

    <div class="panel-body container-fluid">
        <div class="row">
            <div class="col-md-6">
                <center>
                    <img style="width: 200px;" src="app/imgs/{{machine.type}}.jpg" alt="{{machine.name}}" class="img-rounded">
                </center>
            </div>
            <div class="col-md-6">
                <center>
                    <h2>{{machine.name}} By The Numbers</h2>
                    <code>{{facility.name}}</code>&nbsp;&nbsp;&nbsp;<code>{{machine.name}}</code>
                    <div class="row">
                    <hr>
                        <center>
                            <h1>Status</h1>
                            <icon ng-if="machine.status === 'ok'" class="pficon fa-2x pficon-ok"></icon>
                            <icon ng-if="machine.status === 'warning'" title="Line warning detected; line operator notified." class="pficon fa-2x pficon-warning-triangle-o"></icon>
                            <icon ng-if="machine.status === 'error'" title="Line error detected; line operator notified." class="pficon fa-2x pficon-error-circle-o"></icon>
                            <h1>Uptime</h1>
                            <code>2343</code> hours
                            <h1>Remaining Life</h1>
                            <code>3454</code> hours
                        </center>
                    </div>
                </center>
            </div>
        </div>

    </div>
</div>